.privacy-policy{
  text-align: left;
  color: #706e6e;
  font-size: 12px;
  padding: 50px;
  padding-top: 100px;
}

@media screen and (max-width: 48em) {
  .privacy-policy {
    padding: 20px;
    font-size: 14px;
    padding-top: 20px;
  }
}