.home-page {
  .component-toolbar{
    position: fixed;
    width:100%;
  }
  color: black;
	::-webkit-scrollbar {
    display: none;
	}
  a {
    text-decoration: none;
    color:black;
    font-size: 12px;
    display: block;
  }
  h3 {
    margin: 30px 0;
    font-weight: 600;
  }
  .home-banner {
    background-image: url('../../assets/img/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: 10em;
    // background-color: #ccffcc;
    h1 {
      margin: 0;
      // display: flex;
      justify-content: center;
      align-items: center;
      // height: 100%;
      padding-top: 6em;
      font-weight: 100;
    }
    .menu-search {
      .menu-box {
        margin: auto;
        width: 300px;
        background: white;
        border-radius: 5px;
        p {
          margin: 10px;
          text-align: left;
          line-height: 40px;
          i {
            line-height: 40px;
            float: right;
          }
        }
      }
    }
  }
  .web-wrapper {
    width: 960px;
    margin: auto;
  }
  .offer-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .offer {
      margin: 20px auto;
      padding: 0px 12px;
      img {
        width: 200px;
      }
    }
  }

  .featured-products {
    .new-products {
      display: flex;
      justify-content: space-around;
      scroll-behavior: smooth;
      flex-wrap: wrap;
      margin: 1em 0;
      .product {
        display: flex;
        font-size: 1em;
        padding: 0px 12px;
        margin: 20px auto;
        img {
          width: 200px;
        }
      }
    }
  }

  .all-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em 0;
    .category-info {
      .category-img {
        width: 50%;
        height: 50%;
      }
      .category-name {

      }
    }
  }
}

@media screen and (max-width: 48em) {
  .home-page {
    .home-banner {
      height: 285px;
      h1 {
        padding-top: 0em;
        display: flex;
        height: 100%;
      }
    }
    .web-wrapper {
      width: 100%;
    }

    .offer-wrapper {
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: normal;
      .offer {
        img {
          width: 130px;
          height: 120px;
        }
      }
    }

    .featured-products {
      .new-products {
        justify-content: normal;
        flex-wrap: nowrap;
        overflow-x: scroll;
        .product {
          img {
            width: 130px;
            height: 120px;
          }
        }
      }
    }

    .all-category {
      .new-products {
        .product {

         }
      }

    }
  }
}
