.home-page {
  position: relative;
  .login{
    width:100%;
    height: 100%;
  }
  .component-toolbar{
    position: fixed;
    width:100%;
  }
  color: black;
	::-webkit-scrollbar {
    display: none;
	}
  a {
    text-decoration: none;
    color:white;
    font-size: 12px;
    display: block;
  }
  h3 {
    margin: 30px 0;
    font-weight: 600;
  }
  .home-banner {
    background-image: url('../../assets/img/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position-y: -90px;
    h1 {
      margin: 0;
      // display: flex;
      justify-content: center;
      align-items: center;
      // height: 100%;
      padding-bottom: 0.5em;
      font-weight: 100;
      font-size: 20px;
    }
    h2 {
      font-size: 40px;
      font-weight: 300;
      margin-bottom: 2px;
    }
    .menu-search {
      .menu-box {
        margin: auto;
        width: 400px;
        background: #fff;
        color: #3A1214;
        border-radius: 5px;
        border: 1px solid #3A1214;
        p {
          margin: 0px;
          line-height: 45px;
          font-size: 1.5em;
          i {
            line-height: 40px;
            float: right;
          }
        }
      }
    }
    .google_play {
      margin: 20px;
      img {
        width: 125px;
      }
    }
    .download-app-text {
      margin-bottom: 0;
      position: relative;
      font-weight: 500;
      top: 10px;
    }
  }

  .offer-wrapper {
    display: flex;
    overflow: auto;
    .offer {
      margin: 20px auto;
      padding: 0px 12px;
      img {
        width: 200px;
      }
    }
  }

  .featured-products {
    .new-products {
      display: flex;
      // justify-content: space-around;
      scroll-behavior: smooth;
      // flex-wrap: wrap;
      overflow: auto;
      margin: 1em 0;
      margin-bottom: 10%;
      .product {
        display: flex;
        font-size: 1em;
        padding: 0px 12px;
        margin: 20px auto;
        img {
          width: 200px;
        }
      }
    }
  }

  .testimonial {
    width: 75%;
    padding: 0 10% 3% 10%;
    margin-left: 2%;
    .VueCarousel-inner {
      // flex-basis: 500px ;
      // transform: translateX(-550px);
    }
    .VueCarousel-slide {
      position: relative;
      color: #fff;
      font-family: Arial;
      font-size: 16px;
      color: #F6F6F6;
      text-align: center;
      min-height: 100px;
      box-shadow: inset 0px 3px 11px 0px #ABABAB;
      -webkit-box-shadow: inset 0px 3px 11px 0px #ABABAB;
      -moz-box-shadow: inset 0px 3px 11px 0px #ABABAB;
      -o-box-shadow: inset 0px 3px 11px 0px #ABABAB;
      padding: 15px 0;
      background: #fff;
      .label {
        color: black;
        img {
          width: 100px;
          border-radius: 50%;
        }
        .review-desc {
          width: 90%;
          margin: auto;
          margin-top: 2%;
        }
        .name {
          font-size: 12px;
          margin-bottom: 0;
        }
        .designation {
          margin-top: 0;
          font-size: 12px;
        }
      }
    }
  }
  .order-now-below {
    padding-bottom: 10%;
    a {
      color: black;
      border: 1px solid #ccc;
      width: 35%;
      margin: auto;
      border-radius: 5px;
      background: #3A1214;
      color: white;
      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 8px 18px;
      }
    }
  }

  .all-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em 0;
    .category-info {
      .category-img {
        width: 50%;
        height: 50%;
      }
      .category-name {

      }
    }
  }
  .component-download-banner {
    position: fixed;
    bottom: 0px;
    background: #f2f2f2;
    width: 100%;
  }
}

@media screen and (max-width: 48em) {
  .home-page {
    .home-banner {
      height: 80vh;
      background-position: 0px;
      h1 {
        padding-top: 0em;
        display: flex;
        height: auto;
      }
    .menu-search{
      margin-top: 1em;
      a{
        .menu-box{
          width: 65%;
          p{
          margin: auto;
          // width: 65%;
          background: #fff;
          border-radius: 5px;
          i {
            margin-right: 10px;
          }
          }
        }
      }
    }
  }
    .web-wrapper {
      width: 100%;
      .testimonial{
        .images{
          width: auto;
        }
      }
    }

    .offer-wrapper {
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: normal;
      .offer {
        img {
          width: 130px;
          height: 120px;
        }
      }
    }

    .featured-products {
      .new-products {
        justify-content: normal;
        flex-wrap: nowrap;
        overflow-x: scroll;
        .product {
          img {
            width: 130px;
            height: 120px;
          }
        }
      }
    }
    .testimonial {
      padding-bottom: 13%;
    }
  }
}


@media screen and (min-width: 1024px) {
  .home-page{
    display: block;
    position: relative;
    background: white;
  }
  .cart-sidebar-wrapper{
    display: none;
  }
  iframe {
  width: 500px !important;
}
  }