@import '../styles/style';
html{
  height: 100%;
}
body {
	// width: 25%;
  margin: auto;
  // position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  right: 0;
}

.d-f {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ccc;
  height: 100%;
  /*margin-top: 60px;*/
  .web-wrapper {
    width: 960px;
    margin: auto;
  }
  .web-header {
    position: fixed;
    background: rgba(0, 98, 111, 0.8);
    // background: transparent linear-gradient(180deg,#DD5F57 15%,#FCE54E);
    width: 100%;
    z-index: 10;
    border-bottom: 2px dashed white;
    .circle{
      background: white;
      padding: .5em;
      border-radius: 5em;
      width: 90px;
      height: 90px;
      position: absolute;
      color: #0e0e0e;
      left: 2%;
      top: 12px;
      font-size: 0.8em;
      text-align: center;
      img {
        width: 90%;
        float: left;
        position: absolute;
        top: 5%;
        left: 5%;
    }
  }
    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      li {
        margin: 0 15px;
        a {
          text-decoration: none;
          color: white;
          font-weight: 500;
          font-size: 18px;
          &:hover {
              color: #FCE54E;
              transition: 0.5s;
            }
        }
      }
    }
  }
  .web-view {
    display: block;
  }

  footer {
    z-index: 2;
    position: relative;
    background: rgba(0, 98, 111, 0.94);
    .web-wrapper {
      padding: 20px 0;
      // display: flex;
      // justify-content: space-between;
      .footer-title {
        ul {
          display: flex;
          list-style-type: none;
          li {
            margin: 0 15px;
            a {
            &:hover {
              color: #FCE54E;
              transition: 0.5s;
            }
            }
          }
        }
      }
      .copyright-social {
        display: flex;
        justify-content: space-between;
        .copyright {
          font-size: 12px;
          flex: 2;
          display: flex;
          justify-content: flex-start;
          margin-left: 6%;
          align-items: center;
          a {
            margin-left: 3px;
            font-size: 12px
          }
        }
        .social-links {
          flex: 2;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .social {
            margin: 0 15px;
          }
        }
      }
    }
  }


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  // padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  // margin: 20px 0;
  padding-top: 2em;
  height: 400px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  i {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 6px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
  }
  &.promotion{

      background-image: url('../assets/img/new_year_website.jpg');
      width:50%;
  }
  &.information{
    .info-icon{
    background-image: url('../assets/img/sleeping.svg');
    width: 50%;
    height: 50%;
    position: relative;
    left: 30%;
    background-repeat: no-repeat;
    }
    .info-message{
      color:#00626f;
      padding: 1em 2em;
    }
  }
}

.modal-default-button {
  bottom: 11px;
  width: 100px;
  background: #efeb42;
  border-color: #efeb42;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  left: 44%;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

}


@media screen and (max-width: 48em) {
	body {
		width: 100%;
	}

  #app {
    .web-view {
      display: none;
    }
    .web-wrapper {
      width: 100%;
    }
    .modal-container {
      width: 340px;
      .modal-body {
        height: 283px;
        .modal-default-button {
          bottom: 2px;
          width: 100px;
          font-size: 10px;
          line-height: 16px;
          padding: 5px;
        }
      }
    }
  }

}