.login{
  z-index: 11;
  position: fixed;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  color:#888888;
  p{
    font-size: 12px;
  }
  .switch-mode {
    margin-top:.5em;
    color:#888888;
    text-decoration: underline;
    font-weight: bold;
  }
  .overlay{
    background: black;
    position: absolute;
    opacity: .5;
    height: 100%;
    width: 100%;
  }
  .wrapper{
    height: 50%;
    width: 75%;
    z-index: 11;
    background: #e5e5e5;
    border-radius: 5px;
    display: flex;
    max-width: 750px;
    min-height: 400px;
    .form{
      flex: 1;
      background: white;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 0px 5px 5px 0px;
      .logo-wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        flex: 1;
        p{
          font-weight: bold;
          font-size: 18px;
          margin-top: 9px;
          color: black;
        }
      }
      .logo{
        height: 90px;
        width: 90px;
      }
    }
    .banner{
      flex:1;
      background-size: cover;  
      border-radius: 5px 0px 0px 5px;    
      background-image: url('https://fooodie.store/static/img/img1.2ce1f08.jpg')
    }
  }
  .input-wrapper{
    display: flex;
    flex: 1.5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    input{
      margin: .5em;
      width: 75%;
      height: 2em;
      background: white;
      border: 1px solid orange;
      border-radius: 2px;
      padding-left: 0.5em;
    }
    button{
      box-sizing: border-box;
      color: black;
      border: transparent;
      cursor: pointer;
      font-size: 12px;
      font-weight: 700;
      background: #efeb42;
      padding: .7em;
      margin-top: 1em;
      width: 78%;
      letter-spacing: .1em;
      text-transform: uppercase;
      border-radius: 3px;
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #888888;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #888888;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #888888;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #888888;
  }
}