.component-download-banner {
  width: 100%;
  display: none;
  background: #f7f7f7;
  .download-banner {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 8px;
    justify-content: space-around;
    .cross {
      opacity: 0.54;
      i {
        font-size: 19px;
        width: 14px;
        height: 14px;
      }
    }
    .logo {
      margin: 0 10px;
      margin-right:10px;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
      img {
        width: 40px;
        width: 40px;
      }
    }
    .download-info {
      flex: 8;
      .title {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
      }
      .info {
        font-size: 12px;
        font-weight: normal;
        margin: 4px 0;
      }
    }
    .get-app {
      border-radius: 3px;
      background-color: #391214;
      color: white;
      outline: none;
      margin: 0 5px;
      border: none;
      padding: 8px 15px;
      font-weight: 500;
    }
  }
}


@media screen and (max-width: 48em) {
  .component-download-banner {
    display: block;
  }
}