.quantity-button-component {
  user-select: none;
  .add-to-cart-button {
    box-sizing: border-box;
    color: white;
    border: transparent;
    cursor: pointer;
    font-size: 12px;
    // padding: 10px 45px;
    font-weight: 700;
    outline: none;
    letter-spacing: 0.5px;
    padding-top: 0.30952381em;
    padding-bottom: 0.30952381em;
    padding-right: 1.85714286em;
    padding-left: 1.85714286em;

    // line-height: 1.85714286em;
    background: #efeb42;
    &.out-of-stock {
      background: #e7e7e7;
      button{
        padding: 10px 5px;
        font-size: 9px;
      }
    }
    // background: linear-gradient(252deg, #53bf93, #cab75d, #f57d20);
    button {
      background: transparent;
      border: none;
      outline: none;
      padding: 10px 30px;
      text-transform: uppercase;
      width: 100%;
      color: black
    }
  }
  .quantity-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2em;
    max-width: 90px;
    background-color: #fff;
    border: 2px solid #28717c;
    color: #000;
    opacity: .87;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    border-radius: 15px;
    position: relative;
    .minus-sign {
      cursor: pointer;
      flex: 1;
      padding: 0;
      text-align: center;
      i{
        font-size: 18px;
      }
    }
    .quantity-buy {
      font-weight: 400;
      flex: 1;
      text-align: center;
      padding: 0;
    }
    .add-sign {
      flex: 1;
      text-align: center;
      cursor: pointer;
      padding: 0;
      i{
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .quantity-button-component .quantity-button{
    border: 1px solid #28717c;

  }
}
@media screen and (max-width: 48em) {
  .quantity-button-component {
    .add-to-cart-button {
      padding: 2px 3px;
    }
  }
}